@model KonobApp.Model.Models.TableModel

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje podatka</h2>

<h3>Ste sigurni da želite ovo obrisati?</h3>
<div>
    <h4>TableModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caffe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caffe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na listu stolova", "Index")
        </div>
    }
</div>
