@model KonobApp.Model.Models.TableModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>TableModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caffe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caffe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.IDTable }) |
    @Html.ActionLink("Natrag na listu stolova", "Index")
</p>
