@model IEnumerable<KonobApp.Model.Models.ArticleModel>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Dodaj novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.IDArticle }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.IDArticle }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.IDArticle })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Povratak na glavni meni", "Index", "StartingPage")
