@model IEnumerable<KonobApp.Model.Models.CaffeModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Stvori novi podatak", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOpen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOpen)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.IDCaffe }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.IDCaffe }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.IDCaffe })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Povratak na glavni meni", "Index", "StartingPage")
