@model KonobApp.Model.Models.ArticleInCaffeModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>ArticleInCaffeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caffe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caffe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Natrag na listu artikala u kafiću", "Index")
</p>
