
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Uredi korisnike", "Index", "AdminUser")
</div>
<div>
    @Html.ActionLink("Uredi Kafiće", "Index", "AdminCaffe")
</div>
<div>
    @Html.ActionLink("Uredi stolove", "Index", "AdminTable")
</div>
<div>
    @Html.ActionLink("Uredi konobare", "Index", "AdminWaiter")
</div>
<div>
    @Html.ActionLink("Uredi Article", "Index", "AdminArtikle")
</div>
<div>
    @Html.ActionLink("Uredi artikle u kafiću", "Index", "AdminArtInCaf")
</div>
<div>
    @Html.ActionLink("Uredi artikle racuna", "Index", "AdminArtRec")
</div>
<div>
    @Html.ActionLink("Pogledaj racune", "Index", "AdminReceipt")
</div>